{% extends "base.html" %}
{% load i18n %}

{% block language_change %}{% endblock %} // hide language selector while there's no design for it

{% block login %}{% endblock %}

{% block base_content %}
<div class="authentication">
    <span class="image app-logo"></span>

    <form method="post" action=".">
        {% csrf_token %}

        {% if form.non_field_errors or form.password.errors or form.username.errors %}
        <span class="danger">{% trans "Please insert your correct username and password." %}</span>
        {% endif %}

        <div class="form-group">
            <label class="{% if form.non_field_errors or form.password.errors or form.username.errors %}danger{% endif %}" for="username">{% trans "Username" %}</label>
            <input id="username" class="{% if form.non_field_errors or form.password.errors or form.username.errors %}danger{% endif %} form-control" autofocus name="username" type="text" maxlength="254">
        </div>
        <div class="form-group">
            <label class="{% if form.non_field_errors or form.password.errors or form.username.errors %}danger{% endif %}" for="password">{% trans "Password" %}</label>
            <input id="password" class="{% if form.non_field_errors or form.password.errors or form.username.errors %}danger{% endif %} form-control" name="password" type="password" maxlength="254">
        </div>

        <div class="align-items-center d-flex justify-content-between">
            <a href="{% url 'password_reset' %}">{% trans "Forgot your password?" %}</a>
            <button class="btn btn-primary" type="submit">{% trans "Log in" %}</button>
        </div>
    </form>
</div>
{% endblock %}
