{% extends "base.html" %}
{% load i18n %}

{% block language_change %}{% endblock %} // hide language selector while there's no design for it

{% block login %}{% endblock %}

{% block base_content %}
<div class="authentication">
	<span class="image app-logo"></span>

	<h5>{% trans "Create a new password" %}</h5>

	<ul class="hints text-center">
		<li>Your password can't be too similar to your other personal information.</li>
		<li>Your password must contain at least 8 characters.</li>
		<li>Your password can't be a commonly used password.</li>
		<li>Your password can't be entirely numeric.</li>
	</ul>

	<form method="post" action=".">
		{% csrf_token %}

		{% if form.non_field_errors %}
		<span class="danger text-center">{{ form.non_field_errors }}</span>
		{% endif %}

		<div class="form-group">
			{% if form.old_password.errors %}
			<span class="danger text-center">{{ form.old_password.errors }}</span>
			{% endif %}
			<label class="{% if form.old_password.errors %}danger{% endif %}" for="old-password">{% trans "Old password" %}</label>
			<input id="old-password" class="{% if form.old_password.errors %}danger{% endif %} form-control inactive" autofocus required name="old_password" type="password" maxlength="254" onkeyup="highlight()">
		</div>
		<div class="form-group">
			{% if form.new_password1.errors or form.new_password2.errors %}
			<span class="danger text-center">{{ form.new_password1.errors }}{{ form.new_password2.errors }}</span>
			{% endif %}
			<label class="{% if form.new_password1.errors or form.new_password2.errors %}danger{% endif %}" for="new-password">{% trans "New password" %}</label>
			<input id="new-password" class="{% if form.new_password1.errors or form.new_password2.errors %}danger{% endif %} form-control inactive" required name="new_password1" type="password" maxlength="254" onkeyup="highlight()">
		</div>
		<div class="form-group">
			<label class="{% if form.new_password1.errors or form.new_password2.errors %}danger{% endif %}" for="new-password-confirmation">{% trans "New password confirmation" %}</label>
			<input id="new-password-confirmation" class="{% if form.new_password1.errors or form.new_password2.errors %}danger{% endif %} form-control inactive" required name="new_password2" type="password" maxlength="254" onkeyup="highlight()">
		</div>

		<div class="align-items-center d-flex justify-content-between">
			<a href="{% url 'login' %}">{% trans "Cancel" %}</a>
			<button id="submit" class="btn btn-inactive" type="submit">{% trans "Save changes" %}</button>
		</div>
	</form>
</div>

<script>
    var old_password = document.getElementById('old-password');
    var new_password = document.getElementById('new-password');
    var new_password_confirmation = document.getElementById('new-password-confirmation');
    var submit = document.getElementById('submit');

    function highlight() {
        if (old_password.value) old_password.classList.remove('inactive');
        else old_password.classList.add('inactive');

        if (new_password.value) new_password.classList.remove('inactive');
		else new_password.classList.add('inactive');

		if (new_password_confirmation.value) new_password_confirmation.classList.remove('inactive');
        else new_password_confirmation.classList.add('inactive');

        if (old_password.value && new_password.value && new_password_confirmation.value) {
            submit.classList.remove('btn-inactive');
            submit.classList.add('btn-primary');
        } else {
            submit.classList.remove('btn-primary');
            submit.classList.add('btn-inactive');
        }
    }
</script>
{% endblock %}
