{% extends "base_registration.html" %}
{% load i18n %}

{% block registration %}

{% if validlink %}
<h5>{% trans "Create a new password" %}</h5>

<ul class="hints text-center">
    <li>{% trans "Your password can't be too similar to your other personal information" %}.</li>
    <li>{% trans "Your password must contain at least 8 characters" %}.</li>
    <li>{% trans "Your password can't be a commonly used password" %}.</li>
    <li>{% trans "Your password can't be entirely numeric" %}.</li>
</ul>

<form method="post" action=".">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <span class="danger text-center">{{ form.non_field_errors }}</span>
    {% endif %}

    {% if form.new_password1.errors or form.new_password2.errors %}
    <span class="danger text-center">{{ form.new_password1.errors }} {{ form.new_password2.errors }}</span>
    {% endif %}
    <div class="form-group">
        <label for="new-password">{% trans "New password" %}</label>
        <input id="new-password" class="{% if form.new_password1.errors or form.new_password2.errors %}danger{% else %}inactive{% endif %} form-control" autofocus required placeholder="{% trans 'New password' %}" name="new_password1" type="password" maxlength="254" onkeyup="highlight()">
    </div>
    <div class="form-group last">
        <label for="new-password-confirmation">{% trans "New password confirmation" %}</label>
        <input id="new-password-confirmation" class="{% if form.new_password1.errors or form.new_password2.errors %}danger{% else %}inactive{% endif %} form-control" required placeholder="{% trans 'New password confirmation' %}" name="new_password2" type="password" maxlength="254" onkeyup="highlight()">
    </div>

    <div class="align-items-center d-flex justify-content-between">
        <a href="{% url 'login' %}">{% trans "Cancel" %}</a>
        <button id="submit" class="btn btn-primary" type="submit" disabled>{% trans "Save changes" %}</button>
    </div>
</form>
{% else %}
<p>{% trans "The link to reset your password is not valid anymore." %}</p>
<a href="{% url 'login' %}">{% trans "Go back to the login page" %}</a>
{% endif %}

<script>
    var new_password = document.getElementById('new-password');
    var new_password_confirmation = document.getElementById('new-password-confirmation');
    var submit = document.getElementById('submit');

    function highlight() {
        if (new_password.value) new_password.classList.remove('danger', 'inactive');
        else new_password.classList.add('inactive');

        if (new_password_confirmation.value) new_password_confirmation.classList.remove('danger', 'inactive');
        else new_password_confirmation.classList.add('inactive');

        if (new_password.value && new_password_confirmation.value) submit.disabled = false;
        else submit.disabled = true;
    }
</script>
{% endblock %}
