{% extends "base_registration.html" %}
{% load i18n %}

{% block registration %}
<h5>{% trans "Forgot your password?" %}</h5>

<form class="larger" method="post" action=".">
	{% csrf_token %}

	<p class="text-center">{% trans "Don’t worry. Resetting your password is easy, just tell us the email address you registered with Estrada." %}</p>

	<div class="form-group">
		<input id="email" class="form-control inactive" autofocus required placeholder="{% trans 'Email address' %}" name="email" type="email" maxlength="254" onkeyup="highlight()">
	</div>

	<div class="align-items-center d-flex justify-content-between">
		<a href="{% url 'login' %}">{% trans "Cancel" %}</a>
		<button id="submit" class="btn btn-inactive" type="submit">{% trans "Send" %}</button>
	</div>
</form>

<script>
	var email = document.getElementById('email');
	var submit = document.getElementById('submit');

	function highlight() {
		if (email.value) email.classList.remove('inactive');
		else email.classList.add('inactive');

		if (email.value) {
			submit.classList.remove('btn-inactive');
			submit.classList.add('btn-primary');
		} else {
			submit.classList.remove('btn-primary');
			submit.classList.add('btn-inactive');
		}
	}
</script>
{% endblock %}
