{% extends "base.html" %}
{% load i18n %}

{% block language_change %}{% endblock %} // hide language selector while there's no design for it

{% block login %}{% endblock %}

{% block base_content %}
<div class="authentication">
    <span class="image app-logo"></span>

    <h5>{% trans "Reset your password" %}</h5>

    <p class="larger text-center">{% trans "We have sent a reset password email. Please click the reset password link to set your new password. Thanks." %}</p>
</div>
{% endblock %}
