/* Typography */
@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Light.woff2") format("woff2"),
         url("../fonts/DIN-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN.woff2") format("woff2"),
         url("../fonts/DIN.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Medium.woff2") format("woff2"),
         url("../fonts/DIN-Medium.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Bold.woff2") format("woff2"),
         url("../fonts/DIN-Bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Black.woff2") format("woff2"),
         url("../fonts/DIN-Black.woff") format("woff");
    font-weight: 900;
}


/* General */
body {
    background-color: #3D4758;
    font-family: "DIN";
    padding: 13px 15px;
    margin: 0;
}

body > header {
    margin-bottom: 18px;
}

body > .container {
    background-color: white;
}

body > .container > header {
    border-bottom: 1px solid #CFD1D6;
    padding-right: 15px;
    align-items: center;
    padding-left: 15px;
    display: flex;
    height: 69px;
}

body > .container > .content {
    padding: 15px;
}


/* Headings */
h1 {
    line-height: 27px;
    font-weight: 600;
    margin-bottom: 0;
    color: #3D4758;
    margin-top: 5px;
    font-size: 22px;
}


/* Text */
a {
    text-decoration: none;
    color: #03A59A;
}


/* Tables */
div.shapefiles-table {
    width: 100%;
}

div.shapefiles-table .table-row {
    display: flex;
}

div.shapefiles-table .table-head .table-row .table-cell {
    border-bottom: 1px solid #DEE2E6;
    padding: 12px 20px;
    line-height: 17px;
    font-weight: 600;
    color: #3D4758;
    font-size: 14px;
}

div.shapefiles-table .table-body .table-row .table-cell {
    vertical-align: middle;
    line-height: 12px;
    font-weight: 400;
    color: #3D4758;
    font-size: 14px;
    padding: 20px;
}

div.shapefiles-table .table-body .table-row:not(:last-child) .table-cell {
    border-bottom: 1px solid #DEE2E6;
}

div.shapefiles-table .table-cell {
    word-break: break-word;
    white-space: normal;
    text-align: left;
    padding: 0;
}

div.shapefiles-table .table-cell:nth-child(1) {
    width: 30%;
}

div.shapefiles-table .table-cell:nth-child(2) {
    width: 70%;
}


/* Images */
.arrow {
    margin-right: 20px;
}

.arrow.left {
    transform: rotate(90deg);
}
