{% extends "contracts/contract_base.html" %}
{% load i18n %}

{% block contract_content %}
<nav>
    <a href="{% url 'contract-contract-update' contract.id %}">
        <h6>{% trans "Contract Details" %}</h6>
    </a>
    <a class="selected">
        <h6>{% trans "Inspections" %}</h6>
    </a>
    <a href="{% url 'contract-contractpayment-list' contract.id %}">
        <h6>{% trans "Payments" %}</h6>
    </a>
    <a href="{% url 'contract-socialsafeguarddata-list' contract.id %}">
        <h6>{% trans "Social Safeguard" %}</h6>
    </a>
    <a href="{% url 'contract-contractdocument-list' contract.id %}">
        <h6>{% trans "Documents" %}</h6>
    </a>
</nav>

<div class="content">
    <div class="align-items-center d-flex justify-content-between">
        <h5 class="title">{% trans "List of inspections" %}</h5>
        <button class="btn btn-primary form-modal-link" type="button" data-method="POST">{% trans "Add" %}</button>
    </div>
    <table id="contract-inspection-list-table" class="contracts-profile-table d-block table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Inspection Date" %}</th>
                <th>{% trans "Inspection Entity" %}</th>
                <th>{% trans "Physical Progress" %}</th>
                <th>{% trans "Defect Liability Period" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for inspection in inspection_list %}
            <tr>
                <td class="text-center">
                    <a class="image pencil form-modal-link" data-method="PUT" data-object="{{ inspection.json }}"></a>
                    <span></span>
                    <a class="image delete delete-link" data-delete="/contracts/api/contractinspection/{{ inspection.id }}/"></a>
                </td>
                <td>{{ inspection.date }}</td>
                <td>{{ inspection.entity }}</td>
                <td>{{ inspection.progress }}</td>
                <td>{{ inspection.get_defect_liability_period_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="inspection-modal form-modal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">{% trans "Save Inspection" %}</h1>
                <span class="close image" data-dismiss="modal" aria-label="{% trans 'Close' %}" aria-hidden="true"></span>
            </div>
            <div class="modal-body">
                <form>
                    <section>
                        <div class="form-group">
                            <label>{% trans "Inspection Date" %}</label>
                            <span class="required">*</span>
                            <small class="form-text text-muted">{% trans "Select inspection date" %}</small>
                            <input id="inpection-date" class="form-control" type="date" pattern="\d{4}-\d{2}-\d{2}" required>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Inspection Entity" %}</label>
                            <span class="required">*</span>
                            <small class="form-text text-muted">{% trans "Choose entity that performed the inspection" %}</small>
                            <select id="inpection-entity" class="form-control">
                                {% for entity in inspection_entities %}
                                <option value="{{ entity.id }}">{{ entity.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Physical Progress" %}</label>
                            <span class="required">*</span>
                            <small class="form-text text-muted">{% trans "Enter physical progress as inspected" %}</small>
                            <input id="physical-progress" class="form-control" type="number" min="0" max="100" placeholder="25%" required>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Start Defect Liability Period" %}</label>
                            <small class="form-text text-muted">{% trans "When DLP starts with the inspection" %}</small>
                            <input id="defect-liability" type="checkbox">
                        </div>
                    </section>
                    <div class="d-flex justify-content-end">
                        <span>[</span><span class="required">*</span><span>]: Mandatory</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal">{% trans "Cancel" %}</a>
                <button id="save-inspection" type="button" class="btn btn-primary" data-id="{{ contract.id }}">{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="action-modal delete-modal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-center modal-header">
                <span class="alert stop image"></span>
                <span class="close image" data-dismiss="modal" aria-label="{% trans 'Close' %}"
                    aria-hidden="true"></span>
            </div>
            <div class="modal-body text-center">
                <h6>{% trans "Delete Inspection" %}</h6>
                <p>{% trans "Are you sure you want to delete this inspection?" %}</p>
            </div>
            <div class="d-flex justify-content-center modal-footer">
                <button type="button" class="btn btn-danger delete-item">{% trans "Delete" %}</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">{% trans "Don't delete" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
