{% extends "contracts/contracts.html" %}
{% load i18n %}
{% load display_chainage %}

{% block contracts_profile %}
<header class="d-flex justify-content-between">
    <div class="align-items-center d-flex">
        <a class="caret-dark left image" href="{% url 'contract-project-list' %}"></a>
        <h1>{% trans "Project" %} — {{ project.name }}</h1>
    </div>
    <button class="btn btn-secondary btn-sm print-profile">{% trans "Print" %}</button>
</header>

<nav>
    <a class="selected">
        <h6>{% trans "Project Details" %}</h6>
    </a>
    <a href="{% url 'contract-projectfinancials-detail' project.id %}">
        <h6>{% trans "Financials" %}</h6>
    </a>
    <a href="{% url 'contract-projectconstructionschedule-detail' project.id %}">
        <h6>{% trans "Construction Schedule" %}</h6>
    </a>
    <a href="{% url 'contract-projectdocument-detail' project.id %}">
        <h6>{% trans "Documents" %}</h6>
    </a>
</nav>

<div class="content">
    <section>
        <h6>{% trans "Project Details" %}</h6>
        <div>
            <label>{% trans "Status" %}</label>
            <p>{{ project.status }}</p>
        </div>
        <div>
            <label>{% trans "Program Name" %}</label>
            <p>{{ project.program }}</p>
        </div>
        <div>
            <label>{% trans "Project Name" %}</label>
            <p>{{ project.name }}</p>
        </div>
        <div>
            <label>{% trans "Project Code" %}</label>
            <p>{{ project.code }}</p>
        </div>
        <div>
            <label>{% trans "Description" %}</label>
            <p>{{ project.description }}</p>
        </div>
        <div>
            {% if project.tender %}
            <label>{% trans "Associated Tender" %}</label>
            <div><a href="{% url 'contract-tender-detail' project.tender.code %}">{{ project.tender.code }}</a></div>
            {% endif %}
        </div>
        <div>
            <label>{% trans "Associated Contracts" %}</label>
            {% for contract in contracts %}
            <div><a href="{% url 'contract-contract-detail' contract.id %}">{{ contract.contract_code }}</a></div>
            {% endfor %}
        </div>
    </section>

    <section>
        <h6>{% trans "Asset Details" %}</h6>
        <div>
            <label>{% trans "Asset" %}</label>
            {% for asset in assets %}
            <p>{{ asset.asset_code }}:
                {{ asset.asset_start_chainage|as_chainage }}-{{ asset.asset_end_chainage|as_chainage }}</p>
            {% endfor %}
        </div>
        <div>
            <label>{% trans "Type of Work" %}</label>
            <p>{{ project.type_of_work }}</p>
        </div>
    </section>
</div>
{% endblock %}
