{% extends "contracts/contracts.html" %}
{% load i18n %}

{% block contracts_profile %}
<header class="align-items-center d-flex justify-content-between no-back-button">
    <h1>{% trans "Project Manager" %}</h1>
    {% if perms.assets.add_project %}
    <a class="btn btn-primary" href="{% url 'contract-project-create' %}">{% trans "Create New Project" %}</a>
    {% endif %}
</header>

<div class="content">
    <h5 class="title">{% trans "List of projects" %}</h5>

    {% if project_list.exists %}
    <table id="project-list-table" class="contracts-profile-table d-block table table-hover">
        <thead>
            <tr>
                <th>{% trans "Project Name" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Program" %}</th>
                <th>{% trans "Type of Work" %}</th>
                <th>{% trans "Estimated Budget" %}</th>
                <th>{% trans "Funding Source" %}</th>
                {% if perms.contracts.change_project or perms.contracts.delete_project %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for project in project_list %}
            <tr>
                <td><a href="{% url 'contract-project-detail' project.id %}">{{ project.name }}</a></td>
                <td>{{ project.status }}</td>
                <td>{{ project.program }}</td>
                <td>{{ project.type_of_work }}</td>
                <td>$ {{ project.total_budget }}</td>
                <td>{{ project.funding_source }}</td>
                {% if perms.contracts.change_project or perms.contracts.delete_project %}
                <td class="text-center">
                    {% if perms.contracts.change_project and not perms.contracts.delete_project %}
                    <a class="image pencil" href="{% url 'contract-project-update' project.id %}"></a>
                    {% elif not perms.contracts.change_project and perms.contracts.delete_project %}
                    <a class="image delete" href=""></a>
                    {% else %}
                    <a class="image pencil" href="{% url 'contract-project-update' project.id %}"></a>
                    <span></span>
                    <a class="image delete delete-link" data-delete="/contracts/api/project/{{ project.id }}"></a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="align-items-center d-flex flex-column justify-content-center empty-table">
        <span class="no-projects image"></span>
        <h6 class="text-center">{% trans "Welcome to the Contract Manager" %}</h6>
        <p class="text-center">{% trans "No projects were created yet" %}</p>
    </div>
    {% endif %}
</div>

<div class="action-modal delete-modal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-center modal-header">
                <span class="alert stop image"></span>
                <span class="close image" data-dismiss="modal" aria-label="{% trans 'Close' %}"
                    aria-hidden="true"></span>
            </div>
            <div class="modal-body text-center">
                <h6>{% trans "Delete Project" %}</h6>
                <p>{% trans "Are you sure you want to delete this project?" %}</p>
            </div>
            <div class="d-flex justify-content-center modal-footer">
                <button type="button" class="btn btn-danger delete-item">{% trans "Delete" %}</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">{% trans "Don't delete" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
