{% extends "contracts/contracts.html" %}
{% load i18n %}

{% block contracts_profile %}
<header class="align-items-center d-flex justify-content-between no-back-button">
    <h1>{% trans "Tender Manager" %}</h1>
    {% if perms.assets.add_tender %}
    <a class="btn btn-primary" href="{% url 'contract-tender-create' %}">{% trans "Create New Tender" %}</a>
    {% endif %}
</header>

<div class="content">
    <h5 class="title">{% trans "List of tenders" %}</h5>

    {% if tender_list.exists %}
    <table id="tender-list-table" class="contracts-profile-table d-block table table-hover">
        <thead>
            <tr>
                {% if perms.contracts.change_tender or perms.contracts.delete_tender %}
                <th>{% trans "Edit" %}</th>
                {% endif %}
                <th>{% trans "Tender Code" %}</th>
                <th>{% trans "Number of Projects" %}</th>
                <th>{% trans "Project(s) name" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for tender in tender_list %}
            <tr>
                {% if perms.contracts.change_tender or perms.contracts.delete_tender %}
                <td class="text-center">
                    {% if perms.contracts.change_tender and not perms.contracts.delete_tender %}
                    <a class="image pencil" href="{% url 'contract-tender-update' tender.code %}"></a>
                    {% elif not perms.contracts.change_tender and perms.contracts.delete_tender %}
                    <a class="image delete" href=""></a>
                    {% else %}
                    <a class="image pencil" href="{% url 'contract-tender-update' tender.code %}"></a>
                    <span></span>
                    <a class="image delete delete-link" data-delete="/contracts/api/tender/{{ tender.code }}/"></a>
                    {% endif %}
                </td>
                {% endif %}
                <td><a href="{% url 'contract-tender-detail' tender.code %}">{{ tender.code }}</a></td>
                <td>{{ tender.projects.count }}</td>
                <td>
                    {% for project in tender.projects.all %}
                    <div>{{ project.name }}</div>
                    {% endfor %}
                </td>
                <td>{{ tender.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="align-items-center d-flex flex-column justify-content-center no-data-wrapper">
        <span class="no-data image"></span>
        <h6 class="text-center">{% trans "Welcome to the Tender Manager" %}</h6>
        <p class="text-center">{% trans "No tenders were created yet" %}</p>
    </div>
    {% endif %}
</div>

<div class="action-modal delete-modal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-center modal-header">
                <span class="alert stop image"></span>
                <span class="close image" data-dismiss="modal" aria-label="{% trans 'Close' %}"
                    aria-hidden="true"></span>
            </div>
            <div class="modal-body text-center">
                <h6>{% trans "Delete Tender" %}</h6>
                <p>{% trans "Are you sure you want to delete this tender?" %}</p>
            </div>
            <div class="d-flex justify-content-center modal-footer">
                <button type="button" class="btn btn-danger delete-item">{% trans "Delete" %}</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">{% trans "Don't delete" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
