div.authentication {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    height: 100%;

    .app-logo {
        margin-bottom: 40px;
    }

    form {
        width: 325px;

        .errorlist {
            margin-bottom: 0;
            padding-left: 0;
        }

        span.danger {
            background-color: $red;
            border-radius: $radius;
            margin-bottom: 20px;
            text-align: center;
            display: block;
            padding: 7px;
        }

        input.danger {
            border-color: $red;
        }
    }
}
