// Override Bootstrap button styles

.btn {
    box-shadow: 0 2px 4px 0 rgba(0, 52, 62, 0.3);
    padding-bottom: 7px;
    padding-top: 10px;
    line-height: 14px;
    font-weight: 700;
    min-width: 135px;
    border: none;
}

.btn-primary {
    background-color: $green;

    &:hover {
        background-color: $green;
    }
}