textarea.form-control {
    height: 100px;
}

.chainages .form-control-sm {
    width: inherit;
}

// Override Bootstrap form styles

.form-row .form-group {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.form-group {
    margin-bottom: 10px;
    position: relative;

    label {
        margin-bottom: 5px;
    }

    &.last {
        margin-bottom: 20px;
    }
}

.form-control {
    border: 1px solid $green;
    padding-right: 10px;
    padding-left: 10px;

    &.inactive {
        border: 1px solid $light-gray !important;
    }

    &.danger {
        border: 1px solid $red;
    }

    &:-moz-ui-invalid {
        box-shadow: none;
    }

    &:focus {
        box-shadow: 0 0 2px 1px rgba(16, 165, 150, 0.5);
        border: 1px solid $green !important;

        &.danger {
            box-shadow: 0 0 2px 1px rgba(255, 90, 95, 0.5);
            border: 1px solid $red !important;
        }
    }

    &::-webkit-input-placeholder { color: $gray; } /* Chrome/Opera/Safari */
    &::-ms-input-placeholder { color: $gray; } /* Edge */
    &:-ms-input-placeholder { color: $gray; } /* IE 10+ */
    &::-moz-placeholder { color: $gray; } /* Firefox 19+ */
    &:-moz-placeholder { color: $gray; } /* Firefox 18- */
    &::placeholder { color: $gray; } /* Most modern browsers */
}

.form-control-lg {
    height: calc(1.5em + 0.75rem + 2px); // copied from .form-control
    font-size: 1rem; // copied from .form-control
    width: 400px;
}

.form-control-sm {
    height: calc(1.5em + 0.75rem + 2px); // copied from .form-control
    font-size: 1rem; // copied from .form-control
    width: 195px;
}

.form-inline {
    & > :first-child {
        margin-right: 15px;
    }
}

.form-text {
    margin-bottom: 5px;
    margin-top: 0;
}

.invalid-tooltip {
    border-radius: 0 $radius $radius;
    background-color: $red;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 225px;
    display: block;
    left: 10px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border: 10px solid transparent;
        border-bottom-color: $red;
        margin-top: -10px;
        transform: rotate(90deg);
    }

    &.error-tooltip-date {
        margin-left: 110px;
    }
    
    &.error-tooltip-vehicle {
        margin-left: 210px;
    }

    ul {
        margin-bottom: 0;
        padding-left: 0;
    }
}
