// Override Bootstrap form styles

.form-group {
    margin-bottom: 20px;

    label {
        margin-bottom: 10px;
    }
}

.form-control {
    border: 1px solid $green;
    padding-right: 10px;
    padding-left: 10px;

    &.inactive {
        border: 1px solid $dark-gray;
    }

    &.danger {
        border: 1px solid $red;
    }

    &:focus {
        outline: 0;
    }

    &::-webkit-input-placeholder { color: $dark-gray; } /* Chrome/Opera/Safari */
    &:-ms-input-placeholder { color: $dark-gray; } /* IE 10+ */
    &::-moz-placeholder { color: $dark-gray; } /* Firefox 19+ */
    &:-moz-placeholder { color: $dark-gray; } /* Firefox 18- */
}
