%plus-minus-shared {
    background-position: center;
    height: 25px;
    width: 16px;

    &:hover {
        cursor: pointer;
    }
}

.image {
    background-repeat: no-repeat;
    display: inline-block;
}

.app-logo {
    background-image: url("../images/app_logo.svg");
    height: 72px;
    width: 287px;
}

.app-logo-dark-bg {
    background-image: url("../images/app_logo_dark_bg.svg");
    height: 34px;
    width: 131px;
}

.checkbox {
    background-image: url("../images/checkbox.svg");
    vertical-align: middle;
    height: 14px;
    width: 15px;

    &.selected {
        background-image: url("../images/checkbox_active.svg");
    }
}

.plus {
    @extend %plus-minus-shared;
    background-image: url("../images/plus.svg");
    background-size: 16px 15px;
}

.minus {
    @extend %plus-minus-shared;
    background-image: url("../images/minus.svg");
    background-size: 16px 4px;
}

.arrow {
    background-image: url("../images/arrow.svg");
    height: 14px;
    width: 15px;

    &:hover {
        cursor: pointer;
    }
}

.caret {
    background-image: url("../images/caret.svg");
    height: 7px;
    width: 12px;
}

.caret-dark {
    background-image: url("../images/caret_dark.svg");
    background-position: center;
    background-size: 16px 10px;
    height: 25px;
    width: 25px;

    &:hover {
        cursor: pointer;
    }

    &.left {
        transform: rotate(90deg);
    }
}

.radio {
    background-image: url("../images/radio_unactive.svg");
    vertical-align: middle;
    height: 17px;
    width: 17px;

    &.active {
        background-image: url("../images/radio_active.svg");
    }

    &:hover {
        cursor: pointer;
    }
}

.pencil {
    background-image: url("../images/pencil.svg");
    height: 16px;
    width: 15px;
}
