.registration .language-selector button {
    text-transform: uppercase;
    color: $dark-gray;
    padding: 5px;

    &.active {
        color: $green;
    }

    &:not(.active):hover {
        color: $dark-gray;
    }
}

.content .language-selector button {
    margin-left: 15px;
    padding: 0;
}

.language-selector button {
    box-shadow: none;
    min-width: unset;
    border: none;

    &:focus {
        box-shadow: none;
    }
}
