// General layout styles

body {
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;

    &.registration {
        flex-direction: column;
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
    }

    &.content {
        background-color: $darker-gray;
    }
}

#map-table-irmis {
    height: calc(100% - 60px);
    padding-bottom: 15px;
    margin-bottom: 0;
}

ul {
    list-style: none;

    li:hover {
        cursor: pointer;
    }
}
