#map-table-irmis.map.table {
    #map-irmis {
        margin-bottom: 10px;
        height: 40vh;
    }
}

#map-table-irmis.map:not(.table) {
    #map-irmis {
        height: calc(100vh - 60px - 15px);
    }
}

#map-table-irmis.table:not(.map) {
    #map-irmis {
        display: none;
    }
}

#map-table-irmis.map.table {
    #map-irmis span.popup {
        white-space: nowrap;
        font-size: 12px;

        .label {
            font-weight: 300
        }

        .value {
            font-weight: 700
        }
    }
}

// Override Leaflet styles

.leaflet-touch  .leaflet-bar {
    margin-right: 30px;
    margin-top: 40px;
    border: none;

    a.leaflet-control-zoom-in, a.leaflet-control-zoom-out {
        box-shadow: 0 3px 8px 0 rgba(61, 71, 88, 0.25);
        color: $darker-gray;
        line-height: 34px;
        border-bottom: 0;
        height: 34px;
        width: 34px;

        &:hover {
            background-color: $white;
        }
    }
}
