#map-table-irmis.map.table {
    #map-irmis {
        margin-bottom: 10px;
        height: 40vh;
    }
}

#map-table-irmis.map:not(.table) {
    #map-irmis {
        height: calc(100vh - 60px - 15px);
    }
}

#map-table-irmis.table:not(.map) {
    #map-irmis {
        display: none;
    }
}

#map-table-irmis.map.table {
    #map-irmis span.popup {
        white-space: nowrap;
        font-size: 12px;

        .label {
            font-weight: 300
        }
        .value {
            font-weight: 700
        }
    }
}
