%scrollbar-shared {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light-gray;
        border-radius: 3px;
    }
}

planning_base #side-menu > div,
reports_base #side-menu > div,
edit_base #side-menu > div,
#edit-base,
#planning,
#reports,
#dashboard,
.filters {
    @extend %scrollbar-shared;
}

#all-data-table, #structures-data-table {
    @extend %scrollbar-shared;

    &::-webkit-scrollbar:vertical {
        border-bottom: 1px solid $light-gray;
        border-left: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
    }

    &::-webkit-scrollbar:horizontal {
        border-right: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
        height: 6px;
    }
}

#history-table,
#asset-condition-table,
#asset-condition-report-table,
#carriageway-width-table,
#carriageway-width-report-table,
#total-width-table,
#total-width-report-table,
#technical-class-table,
#technical-class-report-table,
#surface-type-table,
#surface-type-report-table,
#pavement-class-table,
#pavement-class-report-table,
#traffic-table,
#terrain-type-table,
#terrain-type-report-table,
#rainfall-table,
#rainfall-report-table,
#number-lanes-table,
#number-lanes-report-table,
#structure-condition-table,
#report-municipality-table,
#report-asset-class-table,
#report-surface-type-table,
#report-technical-class-table,
#report-asset-condition-table,
#report-road-status-table,
#report-technical-class-table,
#plan-rural-roads {
    @extend %scrollbar-shared;

    &::-webkit-scrollbar:horizontal {
        border-top: 1px solid $light-gray;
        height: 6px;
    }
}

#inventory-asset-condition-table, #inventory-surface-type-table, #inventory-technical-class-table {
    @extend %scrollbar-shared;

    &::-webkit-scrollbar:vertical {
        border-left: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
    }
}
