%scrollbar-shared {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light-gray;
        border-radius: 3px;
    }
}

edit_base #side-menu > div, #edit-base, .filters, #reports {
    @extend %scrollbar-shared;
}

#all-data-table {
    @extend %scrollbar-shared;

    &::-webkit-scrollbar:vertical {
        border-bottom: 1px solid $light-gray;
        border-left: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
    }

    &::-webkit-scrollbar:horizontal {
        border-right: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
        height: 6px;
    }
}

#history-table, #surface-condition-table, #surface-condition-report-table {
    @extend %scrollbar-shared;

    &::-webkit-scrollbar:horizontal {
        border-top: 1px solid $light-gray;
        height: 6px;
    }
}

#inventory-surface-condition-table, #inventory-surface-type-table, #inventory-technical-class-table {
    @extend %scrollbar-shared;

    &::-webkit-scrollbar:vertical {
        border-left: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
    }
}
