%scrollbar-shared {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light-gray;
        border-radius: 3px;
    }
}

edit_location_type,
edit_asset_details,
edit_pavement,
edit_project,
edit_condition,
edit_maintenance,
edit_history,
.filters {
    @extend %scrollbar-shared;
}

#all-data-table, #history-table, #surface-condition-table {
    @extend %scrollbar-shared;

    &::-webkit-scrollbar {
        &:horizontal {
            height: 6px;
        }

        &:vertical {
            width: 6px;
        }
    }
}

#all-data-table {
    &::-webkit-scrollbar:vertical {
        border-left: 1px solid $light-gray;
    }
}

#history-table, #surface-condition-table {
    &::-webkit-scrollbar:horizontal {
        border-bottom: 1px solid $light-gray;
    }
}
