%filter-shared {
    background-color: $dark-gray;
    border-radius: $radius;
    color: $white;
}

%filter-active-shared {
    background-color: #818893;
}

#side-menu {
    background-color: $darker-gray;

    #view {
        margin-bottom: 40px;

        a {
            @extend %filter-shared;
            margin-right: 2.5px;
            margin-left: 2.5px;
            padding: 15px;
            flex: 1;

            &:hover {
                cursor: pointer;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                @extend %filter-active-shared;
            }
        }
    }

    .filters {
        height: calc(100% - 60px - 108px - 40px);

        .filter {
            @extend %filter-shared;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            .header {
                margin-bottom: 0;
                min-height: 45px;
                padding: 10px;

                &.active {
                    @extend %filter-active-shared;
                    border-radius: $radius;
                }

                label {
                    margin-bottom: 0;
                    text-transform: capitalize;
                }

                .clear-filter {
                    margin-right: 20px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .options {
                padding: 10px;

                ul {
                    margin-bottom: 0;
                    padding-left: 0;
                }
            }
        }
    }

    .clear-all-filters, .full-screen {
        top: -5px;
        right: 0;

        &:hover {
            cursor: pointer;
        }
    }

    .filters-section {
        padding-bottom: 20px;
    }
}

#collapsed-side-menu {
    width: 30px;
}

// Override Select2 styles
$select2-radius: 18px;

.select2 {
    width: 100% !important;

    .select2-selection {
        background-color: $darker-gray;
        border-radius: $select2-radius;
        border: none !important;
        padding-right: 15px;
        padding-left: 15px;

        .select2-selection__rendered {
            padding-right: 0;

            .select2-selection__choice {
                background-color: $gray;
                margin-top: 7px;
                border: none;
            }

            .select2-search__field {
                margin-top: 7px;
                color: $white;
            }
        }
    }
}

.select2-dropdown {
    background-color: $darker-gray;
    border-radius: $select2-radius;
    padding: 5px 10px;
    border: none;

    .select2-results__option {
        color: $white;

        &[aria-selected=true] {
            background-color: $gray;
        }

        &.select2-results__option--highlighted {
            background-color: $gray;
        }
    }
}
