#map-table-irmis {
    &.map:not(.table) #table-irmis {
        display: none;
    }

    &.table:not(.map) #data-table {
        max-height: calc(100vh - 60px - 37px - 15px);
    }

    &.table.map #data-table {
        max-height: calc(60vh - 60px - 10px - 37px - 15px);
    }

    #data-table {
        background-color: $white;
        margin-top: 0 !important;
        overflow: auto;
    }
}

// Override DataTables.net styles

div.dataTables_wrapper {
    .dt-buttons {
        justify-content: flex-end;
        background-color: $white;
        padding: 3px 15px;
        display: flex;

        .buttons-excel {
            flex: inherit;
        }
    }

    table.dataTable td.dataTables_empty {
        text-align: left;
    }

    .dataTables_info {
        padding-top: 8px;
    }

    div.dataTables_paginate {
        ul.pagination {
            margin: 0;

            li.paginate_button.page-item {
                &:focus {
                    outline: none;
                }

                &.active a.page-link {
                    background-color: $white;
                    border-radius: $radius;
                    color: $dark-gray;
                }

                a.page-link {
                    background-color: inherit;
                    box-shadow: none;
                    color: $white;
                    border: 0;
                }
            }
        }
    }
}

// Override Bootstrap table styles

table.table {
    thead th, tbody td {
        white-space: nowrap;
        width: 1%;
    }

    thead th {
        position: sticky !important;
        background-color: $white;
        top: 0;
    }

    tbody td {
        padding: 6px 20px !important;
    }

    &.table-bordered {
        border: none;

        thead th, tbody td {
            border: 1px solid $light-gray;
        }
    }

    &.table-hover {
        tbody tr:hover {
            background-color: $lighter-gray;
            cursor: pointer;
        }
    }
}
