@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Light.woff2") format("woff2"),
         url("../fonts/DIN-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN.woff2") format("woff2"),
         url("../fonts/DIN.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Medium.woff2") format("woff2"),
         url("../fonts/DIN-Medium.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Bold.woff2") format("woff2"),
         url("../fonts/DIN-Bold.woff") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Black.woff2") format("woff2"),
         url("../fonts/DIN-Black.woff") format("woff");
    font-weight: 900;
}

body {
    font-family: DIN;
    font-size: 16px;
}

label {
    color: $dark-green;
    line-height: 17px;
    font-weight: 700;
    font-size: 14px;

    &.danger {
        color: $red;
    }
}

a {
    color: $dark-green;
    line-height: 11px;
    font-weight: 700;
    font-size: 14px;

    &:hover {
        text-decoration: none;
        color: $dark-green;
    }
}

span {
    color: $dark-green;
    line-height: 17px;
    font-weight: 700;
    font-size: 14px;

    &.danger {
        color: $white;
    }
}

input.form-control {
    color: $dark-green;
    line-height: 12px;

    &:focus {
        color: $dark-green;
    }
}

button.btn {
    line-height: 14px;
    font-weight: 700;
}
