@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Light.woff2") format("woff2"),
         url("../fonts/DIN-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN.woff2") format("woff2"),
         url("../fonts/DIN.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Medium.woff2") format("woff2"),
         url("../fonts/DIN-Medium.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Bold.woff2") format("woff2"),
         url("../fonts/DIN-Bold.woff") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN-Black.woff2") format("woff2"),
         url("../fonts/DIN-Black.woff") format("woff");
    font-weight: 900;
}

body {
    line-height: 24px;
    font-family: DIN;
    font-size: 16px;
}

label {
    color: $dark-green;
    line-height: 17px;
    font-weight: 700;
    font-size: 14px;
}

#side-menu label {
    color: $white;
}

edit_base label {
    color: $darker-gray;
}

a {
    color: $dark-green;
    line-height: 11px;
    font-weight: 700;
    font-size: 14px;

    &:hover {
        text-decoration: none;
        color: $dark-green;
    }
}

#side-menu a {
    line-height: 17px;
    font-size: 14px;
}

span {
    color: $dark-green;
    line-height: 17px;
    font-weight: 700;
    font-size: 14px;

    &.danger {
        color: $white;
    }
}

#side-menu span {
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    color: $white;

    &.subtitle {
        text-transform: uppercase;
        font-size: 11px;
    }
}

.top-menu span {
    color: $white;
}

p {
    color: $dark-green;
}

small {
    line-height: 14px;
	font-weight: 500;
	font-size: 11px;
}

input.form-control {
    color: $dark-green;
    line-height: 12px;

    &:focus {
        color: $dark-green;
    }
}

ul li {
    line-height: 24px;
    font-size: 14px;
}

.danger ul li {
    line-height: 17px;
}

ul.navigation {
    li {
        line-height: 19px;
        font-weight: 700;
        font-size: 16px;
        color: $white;
    }

    ul li {
        line-height: 38px;
        font-size: 18px;
        color: $gray;

        &.active {
            color: $white;
        }
    }
}

button.btn {
    line-height: 14px;
    font-weight: 700;
}

h1 {
    color: $darker-gray;
    line-height: 27px;
    font-weight: 700;
    font-size: 22px;
}

h5 {
    color: $dark-green;
    line-height: 22px;
    font-weight: 700;
    font-size: 18px;
}

edit_base h5 {
    color: $darker-gray;
}

h6 {
    line-height: 19px;
    font-weight: 700;
    font-size: 16px;
    color: $white;
}

section h6 {
    line-height: 17px;
    font-weight: 700;
    font-size: 14px;
    color: $green;
}

table {
    th, td {
        color: $darker-gray;
        line-height: 17px;
        font-size: 14px;
    }
}

// Override DataTables.net styles

.dt-buttons h6 {
    color: $darker-gray;
    line-height: 17px;
    font-weight: 800;
    font-size: 14px;
}

.dataTables_info, .page-link {
    line-height: 17px;
    font-weight: 700;
    font-size: 14px;
    color: $white;
}

// Override Bootstrap styles

.modal {
    h6 {
        color: $darker-gray;
        line-height: 19px;
        font-weight: 800;
        font-size: 16px;
    }

    p {
        color: $darker-gray;
        line-height: 19px;
        font-size: 16px;
    }
}

#dropdown-menu {
    button, a {
        color: $darker-gray;
        line-height: 30px;
        font-weight: 500;
        font-size: 16px;
    }
}

.text-muted {
	color: $dark-gray !important;
}

.invalid-tooltip li {
    line-height: 14px;
    font-weight: 500;
    font-size: 12px;
    color: $white;
}
