upload_photo {
    .cloud-box {
        border: 1px solid $light-gray;
        padding: 70px 85px 20px 85px;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        cursor: pointer;

        div.upload-instructions {
            color: $green;
            margin-bottom: 30px;
            margin-top: 5px;
        }
    }

    .upload-text {
        max-width: 400px;
        font-size: 14px;
    }

    .photo-management-area {
        margin-bottom: 20px;
        max-width: 400px;

        & > div {
            text-align: center;
            position: relative;

            button {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
        }
    }

    .edit-caption {
        margin-top: 25px;
    }

    small.form-text {
        margin-bottom: 0;
        margin-top: 5px;
    }
}

img.uploaded-photo {
    border-radius: 4px;
    max-width: 100%;
}

photos_details_box {
    ul.pagination {
        margin-bottom: 20px;
        margin-top: 10px;

        li {
            border-radius: 4px;
            padding: 8px 12px;

            &.active {
                background-color: #3D4758;
                color: $white;
            }
        }
    }

    p {
        margin-bottom: 0;
    }
}
