upload_photo {
    .upload-box { 
        box-sizing: border-box;
        height: 230px;
        border: 1px solid $light-gray;
        border-radius: 4px;
        margin-bottom: 20px;
        margin-top: 30px;
        max-width: 500px;
    }

    .cloud-box {
        margin: 70px 85px 20px 85px;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-weight: 600;

        div.upload-instructions {
            color: $green;
            margin-bottom: 30px;
            margin-top: 5px;
        }
    }

    .upload-text {
        max-width: 500px;
    }
}