// Color pallete
$dark-green: #003333;
$green: #03A59A;
$light-green: #E5F4F4;

$darker-gray: #3D4758;
$dark-gray: #5F6775;
$gray: #818893;
$light-gray: #CFD1D6;
$lighter-gray: #F3F3F9;

$blue: #0098AE;

$red: #FF5A5F;

$white: #FFFFFF;

// Layout
$radius: 4px;

$side-menu-width: 300px;
$top-menu-height: 60px;
