{
    "extends": "airbnb-base",
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "commonjs": true,
        "browser": true,
        "es6": true,
    },
    "rules": {
        "indent": ["error", 4],
        "camelcase": "off",
        "max-len": ["error", { "ignoreComments": true, "code": 120 }],
        "import/prefer-default-export": "off"
    }
}
