{% extends 'base.html' %}
{% load static i18n %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'irmis.js' %}"></script>
{% endblock %}

{% block title %}
    {% with self.get_site.site_name as site_name %}
        {% if site_name %}{{ site_name }}{% endif %}
    {% endwith %}
{% endblock %}

{% block top_menu %}
<span class="app-logo-dark-bg flex-grow-1 image"></span>
<div class="dropdown" id="topmenu_toggle">
    <span>{% trans "Hello" %}, {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</span>
    <span class="caret image"></span>
    <div id="settings" class="dropdown-menu flex-column" hidden>
        <form class="language-selector" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <button class="btn" type="submit" name="language" value="{{ language.code }}">
                <span class="{% if language.code == LANGUAGE_CODE %}active{% endif %} radio image"></span>
                {{ language.name_local }}
            </button>
            <br>
            {% endfor %}
        </form>
        <div class="dropdown-divider"></div>
        <a href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
        <div class="dropdown-divider"></div>
        <a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
    </div>
</div>
{% endblock %}

{% block base_content %}
    {% block content %}
    {% endblock %}
{% endblock %}
