<reports_base>
    <div class="row">
        <div id="side-menu">
            <ul class="navigation">
                <ul>
                    <li class="active">{ window.gettext("Reports") }</li>
                </ul>
            </ul>
        </div>
        <div id="reports">

        </div>
    </div>
</reports_base>
