{% load i18n estrada %}

<planning_base></planning_base>
<reports_base></reports_base>
<edit_base></edit_base>

<div id="view-content" class="h-100 row">
    {% filter_pane %}
    <div id="map-table-irmis" class="map table">
        <div>
            <!-- Map -->
            <div id="map-irmis"></div>
            <!-- Road Table -->
            <div id="table-roads">
                <!-- Table Title and Buttons -->
                <div class="dt-buttons">
                    <h6 class="flex-grow-1">{% trans "Road Inventory" %}</h6>
                  
                    <div id="export-road" class="btn btn-secondary btn-sm d-flex justify-content-center">{% trans "Export all" %}</div>

                    <div id="select-road-data" class="btn btn-secondary btn-sm d-flex dropdown justify-content-between">
                        {% trans "Select data" %}
                        <span class="caret-dark image"></span>
                        <div id="road-columns-dropdown" class="dropdown-menu flex-row" hidden>
                            <div class="road-inventory-data">
                                <h6>{% trans "Road Inventory Data" %}</h6>
                                <div class="d-flex">
                                    <div class="left-pane">
                                        <div class="align-items-center d-flex text-nowrap" data-column="0" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Road code" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="1">
                                            <span class="checkbox image"></span>
                                            {% trans "Road name" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="2" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Link code" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="3">
                                            <span class="checkbox image"></span>
                                            {% trans "Link name" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="4" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Link Length" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="5" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Link start name" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="6" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Link start chainage" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="7" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Link end name" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="8" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Link end chainage" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="9" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Surface type" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="10" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Pavement class" %}
                                        </div>
                                    </div>
                                    <div class="right-pane">
                                        <div class="align-items-center d-flex text-nowrap" data-column="11" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Carriageway width" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="12" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Municipality" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="13">
                                            <span class="checkbox image"></span>
                                            {% trans "Road class" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="14">
                                            <span class="checkbox image"></span>
                                            {% trans "Technical class" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="15">
                                            <span class="checkbox image"></span>
                                            {% trans "Funding source" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="16">
                                            <span class="checkbox image"></span>
                                            {% trans "Road status" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="17">
                                            <span class="checkbox image"></span>
                                            {% trans "Project" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="18">
                                            <span class="checkbox image"></span>
                                            {% trans "Start Point - DMS" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="19">
                                            <span class="checkbox image"></span>
                                            {% trans "End Point - DMS" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="20">
                                            <span class="checkbox image"></span>
                                            {% trans "Start Point - UTM" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="21">
                                            <span class="checkbox image"></span>
                                            {% trans "End Point - UTM" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column road-condition-data">
                                <h6>{% trans "Road Condition Data" %}</h6>
                                <div class="flex-grow-1">
                                    <div class="align-items-center d-flex text-nowrap" data-column="22">
                                        <span class="checkbox image"></span>
                                        {% trans "Roughness (IRI)" %}
                                    </div>
                                    <div class="align-items-center d-flex text-nowrap" data-column="23" data-default="true">
                                        <span class="checkbox image selected"></span>
                                        {% trans "Surface condition" %}
                                    </div>
                                    <div class="align-items-center d-flex text-nowrap" data-column="24">
                                        <span class="checkbox image"></span>
                                        {% trans "Maintenance needs" %}
                                    </div>
                                    <div class="align-items-center d-flex text-nowrap" data-column="25">
                                        <span class="checkbox image"></span>
                                        {% trans "Traffic data" %}
                                    </div>
                                    <div class="align-items-center d-flex text-nowrap" data-column="26">
                                        <span class="checkbox image"></span>
                                        {% trans "Number of lanes" %}
                                    </div>
                                    <div class="align-items-center d-flex text-nowrap" data-column="27">
                                        <span class="checkbox image"></span>
                                        {% trans "Rainfall" %}
                                    </div>
                                    <div class="align-items-center d-flex text-nowrap" data-column="28">
                                        <span class="checkbox image"></span>
                                        {% trans "Terrain Class" %}
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-secondary restore-road text-nowrap">
                                    {% trans "Return to default selection" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DataTable wrapper -->
                <table id="all-data-table" class="d-block table table-bordered table-hover w-100"></table>
            </div>

            <!-- Structures Table -->
            <div id="table-structures" hidden="true" >
                <!-- Table Title and Buttons -->
                <div class="dt-buttons">
                    <h6 class="flex-grow-1">{% trans "Structure Inventory" %}</h6>
            
                    <div id="export-structure" class="btn btn-secondary btn-sm d-flex justify-content-center">{% trans "Export all" %}</div>
            
                    <div id="select-structure-data" class="btn btn-secondary btn-sm d-flex dropdown justify-content-between">
                        {% trans "Select data" %}
                        <span class="caret-dark image"></span>
                        <div id="structure-columns-dropdown" class="dropdown-menu flex-row" hidden>
                            <div class="structure-inventory-data">
                                <h6>{% trans "Structure Inventory Data" %}</h6>
                                <div class="d-flex">
                                    <div class="left-pane">
                                        <div class="align-items-center d-flex text-nowrap" data-column="0" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Structure" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="1" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Structure Code" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="2" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Structure Name" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="3">
                                            <span class="checkbox image"></span>
                                            {% trans "River Name" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="4" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Road Code" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="5">
                                            <span class="checkbox image"></span>
                                            {% trans "Road Name" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="6">
                                            <span class="checkbox image"></span>
                                            {% trans "Class" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="7">
                                            <span class="checkbox image"></span>
                                            {% trans "GPS Longitude" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="8">
                                            <span class="checkbox image"></span>
                                            {% trans "GPS Latitude" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="9" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Chainage" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="10">
                                            <span class="checkbox image"></span>
                                            {% trans "Municipality" %}
                                        </div>
                                    </div>
                                    <div class="right-pane">
                                        <div class="align-items-center d-flex text-nowrap" data-column="11" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Type" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="12" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Deck Material" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="13" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Material" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="14" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Length" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="15" data-default="true">
                                            <span class="checkbox image selected"></span>
                                            {% trans "Width" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="16">
                                            <span class="checkbox image"></span>
                                            {% trans "Height" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="17">
                                            <span class="checkbox image"></span>
                                            {% trans "Number of Spans" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="18">
                                            <span class="checkbox image"></span>
                                            {% trans "Number of Cells" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="19">
                                            <span class="checkbox image"></span>
                                            {% trans "Protection Upstream" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="20">
                                            <span class="checkbox image"></span>
                                            {% trans "Protection Downstream" %}
                                        </div>
                                        <div class="align-items-center d-flex text-nowrap" data-column="21">
                                            <span class="checkbox image"></span>
                                            {% trans "Construction Year" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column structure-condition-data">
                                <h6>{% trans "Structure Condition Data" %}</h6>
                                <div class="flex-grow-1">
                                    <div class="align-items-center d-flex text-nowrap" data-column="22">
                                        <span class="checkbox image"></span>
                                        {% trans "Structure Condition" %}
                                    </div>
                                    <div class="align-items-center d-flex text-nowrap" data-column="23">
                                        <span class="checkbox image"></span>
                                        {% trans "Condition Description" %}
                                    </div>
                                    <div class="align-items-center d-flex text-nowrap" data-column="24" data-default="true">
                                        <span class="checkbox image selected"></span>
                                        {% trans "Inventory Photos" %}
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-secondary restore-structure text-nowrap">
                                    {% trans "Return to default selection" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DataTable wrapper -->
                <table id="structures-data-table" class="d-block table table-bordered table-hover w-100"></table>
            </div>
        </div>

        <footer>
            <small>República Democrática de Timor-Leste / Ministério  das  Obras Públicas</small>
            <small>{% trans "Created by Catalpa International" %}</small>
        </footer>
    </div>
</div>

<div id="inventory-segments-modal" class="modal inventory-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title"></h1>
                <span class="close image" data-dismiss="modal" aria-label="{ window.gettext('Close') }"
                    aria-hidden="true"></span>
            </div>
            <div class="modal-body">
                <table id="inventory-surface-condition-table" class="d-block table table-bordered table-hover w-100">
                </table>
                <table id="inventory-surface-type-table" class="d-block table table-bordered table-hover w-100"></table>
                <table id="inventory-technical-class-table" class="d-block table table-bordered table-hover w-100">
                </table>
                <table id="inventory-number-lanes-table" class="d-block table table-bordered table-hover w-100"></table>
                <table id="inventory-carriageway-width-table" class="d-block table table-bordered table-hover w-100">
                </table>
                <table id="inventory-terrain-class-table" class="d-block table table-bordered table-hover w-100">
                </table>
                <table id="inventory-traffic-level-table" class="d-block table table-bordered table-hover w-100"></table>
                <table id="inventory-rainfall-table" class="d-block table table-bordered table-hover w-100"></table>
                <table id="inventory-pavement-class-table" class="d-block table table-bordered table-hover w-100">
                </table>
                {% comment %} STRUCTURES COLUMN MODALS TABLES {% endcomment %}
                <table id="inventory-structure-photos-table" class="d-block table table-bordered table-hover w-100">
                </table>
                <table id="inventory-structure-condition-table" class="d-block table table-bordered table-hover w-100">
                </table>
                <table id="inventory-structure-condition-description-table" class="d-block table table-bordered table-hover w-100">
                </table>
            </div>
        </div>
    </div>
</div>
