{% load i18n %}

        <div id="side-menu" class="col-3 h-100">
            <div class="position-relative">
                <h6>{% trans "View" %}</h6>
                <span class="full-screen position-absolute" onclick="roads.collapse_side_menu(this)">{% trans "Fullscreen view" %}</span>
                <div id="view" class="d-flex">
                    <a class="active align-items-center d-flex justify-content-center text-center" onclick="roads.change_view(this, 0)">{% trans "Map & Table" %}</a>
                    <a class="align-items-center d-flex justify-content-center text-center" onclick="roads.change_view(this, 1)">{% trans "Map" %}</a>
                    <a class="align-items-center d-flex justify-content-center text-center" onclick="roads.change_view(this, 2)">{% trans "Table" %}</a>
                </div>
            </div>


            <div class="filters overflow-auto position-relative">
                <h6>{% trans "Filters" %}</h6>
                <span class="clear-all-filters position-absolute" onclick="roads.clear_all_filters()">{% trans "Clear all filters" %}</span>
                
                {% with slug=road_schema.road_type.slug %} 
                <div id="{{ slug }}" class="filter">
                    <div class="d-flex header justify-content-between">
                        <div class="align-items-center d-flex">
                            <label>{{ road_schema.road_type.display }}</label>
                        </div>
                        <div class="align-items-center d-flex">
                            <span class="clear-filter" onclick="roads.clear_filter('{{ slug }}')" hidden>{% trans "Clear" %}</span>
                            <span class="plus image" onclick="roads.toggleFilterOpen(this, '{{ slug }}')"></span>
                        </div>
                    </div>
                    <div class="options" hidden>
                        <ul>
                            {% for option in road_schema.road_type.options %}
                            <li onclick="roads.toggleFilterOption(this, '{{ slug }}', '{{ option.0 }}')">
                                <span class="checkbox image"></span>
                                {{ option.1 }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endwith %} 

                <!-- To be replaced with actual filter values and translations -->
                <div id="road-condition" class="filter">
                    <div class="d-flex header justify-content-between">
                        <div class="align-items-center d-flex">
                            <label>{% trans "Road condition" %}</label>
                        </div>
                        <div class="align-items-center d-flex">
                            <span class="clear-filter" onclick="roads.clear_filter('road-condition')" hidden>{% trans "Clear" %}</span>
                            <span class="plus image" onclick="roads.toggle_filter(this, 'road-condition')"></span>
                        </div>
                    </div>
                    <div class="options" hidden>
                        <ul>
                            <li onclick="roads.filter(this, 'road-condition')">
                                <span class="checkbox image"></span>
                                Poor
                            </li>
                            <li onclick="roads.filter(this, 'road-condition')">
                                <span class="checkbox image"></span>
                                Good
                            </li>
                            <li onclick="roads.filter(this, 'road-condition')">
                                <span class="checkbox image"></span>
                                Excelent
                            </li>
                        </ul>
                    </div>
                </div>


                <div id="road-code" class="filter">
                    <div class="d-flex header justify-content-between">
                        <div class="align-items-center d-flex">
                            <label>{% trans "Road code" %}</label>
                        </div>
                        <div class="align-items-center d-flex">
                            <span class="clear-filter" onclick="roads.clear_filter('road-code')" hidden>{% trans "Clear" %}</span>
                            <span class="plus image" onclick="roads.toggle_filter(this, 'road-code')"></span>
                        </div>
                    </div>
                    <div class="options" hidden>
                        <ul>
                            <li onclick="roads.filter(this, 'road-code')">
                                <span class="checkbox image"></span>
                                A1
                            </li>
                            <li onclick="roads.filter(this, 'road-code')">
                                <span class="checkbox image"></span>
                                B1
                            </li>
                            <li onclick="roads.filter(this, 'road-code')">
                                <span class="checkbox image"></span>
                                C1
                            </li>
                            <li onclick="roads.filter(this, 'road-code')">
                                <span class="checkbox image"></span>
                                D1
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <label>Road minimum length</label>
                <input id="min-length-filter" type="number" onkeyup="roads.filter()">

                <label>Road maximum length</label>
                <input id="max-length-filter" type="number" onkeyup="roads.filter()"> -->
                <!-- To be replaced with actual filter values and translations -->
            </div>
        </div>

        <div id="collapsed-side-menu" class="d-none justify-content-center" onclick="roads.expand_side_menu()">
            <span class="arrow image"></span>
        </div>

