{% load i18n %}

<div id="side-menu">
    <div class="position-relative">
        <h6>{% trans "View" %}</h6>
        <span class="full-screen position-absolute" id="side-menu-collapse">{% trans "Fullscreen view" %}</span>
        <div id="view" class="d-flex">
            <a class="active align-items-center d-flex justify-content-center text-center" data-viewname="map table">{% trans "Map & Table" %}</a>
            <a class="align-items-center d-flex justify-content-center text-center" data-viewname="map">{% trans "Map" %}</a>
            <a class="align-items-center d-flex justify-content-center text-center" data-viewname="table">{% trans "Table" %}</a>
        </div>
    </div>

    <div class="asset-type">
        <h6>{% trans "Asset Type" %}</h6>
        {% comment %} ASSET TYPE {% endcomment %}
        <div id="assetType" class="d-flex filters-section roads structures">
            {% with slug=asset_schema.asset_type.slug %}
            <div data-slug="{{ slug }}" class="d-flex filter">
                <a class="active align-items-center d-flex justify-content-center text-center" data-option="ROAD">{% trans "Roads" %}</a>
                <a class="align-items-center d-flex justify-content-center text-center" data-option="STRC">{% trans "Structures" %}</a>
            </div>
            {% endwith %}
        </div>
    </div>

    <div class="filters position-relative">
        <h6>{% trans "Filters" %}</h6>
        <span class="clear-all-filters position-absolute">{% trans "Clear all filters" %}</span>
        {% comment %} SECTION - LOCATION {% endcomment %}
        <div class="filters-section roads structures">
            <span class="subtitle">{% trans "Location" %}</span>
            {% comment %} ADMINISTRATIVE AREA {% endcomment %}
            {% with slug=asset_schema.administrative_area.slug %}
            <div data-slug="{{ slug }}" class="filter">
                <div class="d-flex header justify-content-between">
                    <div class="align-items-center d-flex">
                        <label>{{ asset_schema.administrative_area.display }}</label>
                    </div>
                    <div class="align-items-center d-flex">
                        <span class="clear-select2" hidden>{% trans "Clear" %}</span>
                        <span class="plus image filterToggle"></span>
                    </div>
                </div>
                <div class="options" hidden>
                    <select class="filter_select2" multiple="true">
                        {% for option in asset_schema.administrative_area.options %}
                        <option value="{{ option.id }}">{{ option.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endwith %}
        </div>

        {% comment %} SECTION - ASSET {% endcomment %}
        <div class="filters-section roads">
            <span class="subtitle">{% trans "Asset" %}</span>
            {% comment %} ASSET CLASS {% endcomment %}
            {% with slug=asset_schema.asset_class.slug %}
            <div data-slug="{{ slug }}" class="filter">
                <div class="d-flex header justify-content-between">
                    <div class="align-items-center d-flex">
                        <label>{{ asset_schema.asset_class.display }}</label>
                    </div>
                    <div class="align-items-center d-flex">
                        <span class="clear-filter" hidden>{% trans "Clear" %}</span>
                        <span class="plus image filterToggle"></span>
                    </div>
                </div>
                <div class="options" hidden>
                    <ul>
                        {% for option in asset_schema.asset_class.options %}
                        <li class="align-items-center d-flex optionToggle" data-option="{{ option.0 }}">
                            <span class="checkbox image"></span>
                            {{ option.1 }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endwith %}

            {% comment %} ROAD CODE {% endcomment %}
            {% with slug=asset_schema.road_code.slug %}
            <div data-slug="{{ slug }}" class="filter">
                <div class="d-flex header justify-content-between">
                    <div class="align-items-center d-flex">
                        <label>{{ asset_schema.road_code.display }}</label>
                    </div>
                    <div class="align-items-center d-flex">
                        <span class="clear-select2" hidden>{% trans "Clear" %}</span>
                        <span class="plus image filterToggle"></span>
                    </div>
                </div>
                <div class="options" hidden>
                    <select class="filter_select2" multiple="true">
                        {% for option in asset_schema.road_code.options %}
                        <option value="{{ option.road_code }}">{{ option.road_code }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endwith %}

            {% comment %} ROAD STATUS {% endcomment %}
            {% with slug=asset_schema.road_status.slug %}
            <div data-slug="{{ slug }}" class="filter">
                <div class="d-flex header justify-content-between">
                    <div class="align-items-center d-flex">
                        <label>{{ asset_schema.road_status.display }}</label>
                    </div>
                    <div class="align-items-center d-flex">
                        <span class="clear-filter" hidden>{% trans "Clear" %}</span>
                        <span class="plus image filterToggle"></span>
                    </div>
                </div>
                <div class="options" hidden>
                    <ul>
                        {% for option in asset_schema.road_status.options %}
                        <li class="align-items-center d-flex optionToggle" data-option="{{ option.code }}">
                            <span class="checkbox image"></span>
                            {{ option.name }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endwith %}

            {% comment %} PAVEMENT CLASS {% endcomment %}
            {% with slug=asset_schema.surface_type.slug %}
            <div data-slug="{{ slug }}" class="filter">
                <div class="d-flex header justify-content-between">
                    <div class="align-items-center d-flex">
                        <label>{{ asset_schema.surface_type.display }}</label>
                    </div>
                    <div class="align-items-center d-flex">
                        <span class="clear-filter" hidden>{% trans "Clear" %}</span>
                        <span class="plus image filterToggle"></span>
                    </div>
                </div>
                <div class="options" hidden>
                    <ul>
                        {% for option in asset_schema.surface_type.options %}
                        <li class="align-items-center d-flex optionToggle" data-option="{{ option.code }}">
                            <span class="checkbox image"></span>
                            {{ option.name }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endwith %}
        </div>

        {% comment %} SECTION - ASSET CONDITION {% endcomment %}
        <div class="filters-section roads">
            <span class="subtitle">{% trans "Asset condition" %}</span>
            {% comment %} ASSET CONDITION {% endcomment %}
            {% with slug=asset_schema.asset_condition.slug %}
            <div data-slug="{{ slug }}" class="filter">
                <div class="d-flex header justify-content-between">
                    <div class="align-items-center d-flex">
                        <label>{{ asset_schema.asset_condition.display }}</label>
                    </div>
                    <div class="align-items-center d-flex">
                        <span class="clear-filter" hidden>{% trans "Clear" %}</span>
                        <span class="plus image filterToggle"></span>
                    </div>
                </div>
                <div class="options" hidden>
                    <ul>
                        {% for option in asset_schema.asset_condition.options %}
                        <li class="align-items-center d-flex optionToggle" data-option="{{ option.0 }}">
                            <span class="checkbox image"></span>
                            {{ option.1 }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endwith %}
        </div>

        <!-- Structure Filters -->
        {% comment %} SECTION - STRUCTURE {% endcomment %}
        <div class="filters-section structures" hidden>
            <span class="subtitle">{% trans "Asset" %}</span>
            {% comment %} STRUCTURE {% endcomment %}
            {% with slug=asset_schema.administrative_area.slug %}
            <div data-slug="{{ slug }}" class="filter">
                <div class="d-flex header justify-content-between">
                    <div class="align-items-center d-flex">
                        <label>Structure</label>
                    </div>
                    <div class="align-items-center d-flex">
                        <span class="clear-filter" hidden>{% trans "Clear" %}</span>
                        <span class="plus image filterToggle"></span>
                    </div>
                </div>
                <div class="options" hidden>
                    <ul>
                        <li class="align-items-center d-flex optionToggle" data-option="bridge">
                            <span class="checkbox image"></span>
                            Bridges
                        </li>
                        <li class="align-items-center d-flex optionToggle" data-option="culvert">
                            <span class="checkbox image"></span>
                            Culverts
                        </li>
                    </ul>
                </div>
            </div>
            {% endwith %}

            {% comment %} ASSET CLASS {% endcomment %}
            {% with slug=asset_schema.road_code.slug %}
            <div data-slug="{{ slug }}" class="filter">
                <div class="d-flex header justify-content-between">
                    <div class="align-items-center d-flex">
                        <label>Structure Class</label>
                    </div>
                    <div class="align-items-center d-flex">
                        <span class="clear-filter" hidden>{% trans "Clear" %}</span>
                        <span class="plus image filterToggle"></span>
                    </div>
                </div>
                <div class="options" hidden>
                    <ul>
                        {% for option in asset_schema.asset_class.options %}
                        <li class="align-items-center d-flex optionToggle" data-option="{{ option.0 }}">
                            <span class="checkbox image"></span>
                            {{ option.1 }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endwith %}

            {% comment %} STRUCTURE CODE {% endcomment %}
            {% with slug=asset_schema.road_code.slug %}
            <div data-slug="{{ slug }}" class="filter">
                <div class="d-flex header justify-content-between">
                    <div class="align-items-center d-flex">
                        <label>Structure Code</label>
                    </div>
                    <div class="align-items-center d-flex">
                        <span class="clear-select2" hidden>{% trans "Clear" %}</span>
                        <span class="plus image filterToggle"></span>
                    </div>
                </div>
                <div class="options" hidden> 
                    <select class="filter_select2" multiple="true">
                        <option value="a01">A01</option>
                        <option value="a04">A04</option>
                        <option value="b10">B10</option>
                    </select>
                </div>
            </div>
        </div>
        {% endwith %}

        {% comment %} SECTION - STRUCTURE CONDITION {% endcomment %}
        <div class="filters-section structures" hidden>
            <span class="subtitle">{% trans "Asset condition" %}</span>
            {% with slug=asset_schema.administrative_area.slug %}
            {% comment %} STRUCTURE CONDITION {% endcomment %}
            <div data-slug="{{ slug }}" class="filter">
                <div class="d-flex header justify-content-between">
                    <div class="align-items-center d-flex">
                        <label>Structure Condition</label>
                    </div>
                    <div class="align-items-center d-flex">
                        <span class="clear-filter" hidden>{% trans "Clear" %}</span>
                        <span class="plus image filterToggle"></span>
                    </div>
                </div>
                <div class="options" hidden>
                    <ul>
                        {% for option in asset_schema.asset_condition.options %}
                        <li class="align-items-center d-flex optionToggle" data-option="{{ option.0 }}">
                            <span class="checkbox image"></span>
                            {{ option.1 }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endwith %}
        </div>
    </div>
</div>

<div id="collapsed-side-menu" class="d-none justify-content-center">
    <span class="arrow image"></span>
</div>

{{ asset_schema|json_script:"asset_schema" }}
<script>
    var asset_schema = JSON.parse(document.getElementById('asset_schema').textContent);
</script>
