{{ data|json_script:"roads_schema_data"}}
<script>
    /** prep_schema_data
     * 
     * Ensures that roads_schema_data has been prepared for use
     * This includes ensuring that all 'name' members are populated
     */
    const prep_schema_data = function() {
        const schema_data = JSON.parse(document.getElementById('roads_schema_data').textContent);
        const schema_members = Object.keys(schema_data);
        schema_members.forEach(schema_member => {
            if (Array.isArray(schema_data[schema_member])) {
                const schema_def = schema_data[schema_member];
                if (schema_def.length && schema_def[0].id && schema_def[0].code) {
                    for(let ix = 0; ix < schema_def.length; ix++) {
                        // Ensure that 'name' members are always populated
                        schema_def[ix].name = schema_def[ix].name || schema_def[ix].code;
                    }
                }
            }
        });

        return schema_data;
    }

    const roads_schema_data = prep_schema_data();

    // Uncomment this console.log to see what roads schema data is returned and prepared
    // console.log(roads_schema_data)
</script>
